/* toolbar **/
/* .toolbar {
  padding: 20px;
  font-weight: bold;
  font-size: small;
} */
ion-label {
  text-transform: capitalize;
}

ion-grid {
  --ion-grid-width: 350px;
  --ion-grid-columns: 8;
  --ion-grid-column-padding: 32px;

  --ion-grid-padding-xs: 4px;
  --ion-grid-padding-sm: 8px;
  --ion-grid-padding-md: 12px;
  --ion-grid-padding-lg: 16px;
  --ion-grid-padding-xl: 20px;

  --ion-grid-column-padding-xs: 4px;
  --ion-grid-column-padding-sm: 8px;
  --ion-grid-column-padding-md: 12px;
  --ion-grid-column-padding-lg: 16px;
  --ion-grid-column-padding-xl: 20px;
}

h1 {
  font-size: 28px !important;
  line-height: 34px !important;
  font-weight: 800 !important;
}

h2 {
  font-weight: 800 !important;
  font-size: 20px !important;
  line-height: 40px !important;
}

h3 {
  font-weight: 800 !important;
  font-size: 17px !important;
  line-height: 27px !important;
}

h4 {
  font-weight: 800 !important;
  font-size: 14px !important;
  line-height: 24px !important;
}

p {
  font-size: 17px !important;
  line-height: 27px !important;
  font-weight: 500 !important;
}

.p2 {
  font-size: 14px !important;
  line-height: 24px !important;
  font-weight: 500 !important;
}

.text-muted {
  color: var(--ion-color-disabled-dark) !important;
}

.header-title {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-timestamp {
  font-size: 15px;
  color: var(--ion-color-disabled-dark) !important;
}

.description-container {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.ticket-user {
  display: flex;
  flex-direction: column;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.sub-header {
  display: flex;
  align-items: center;
}

ion-input.message {
  /* --border-radius: 9px; */
  /* background-color: var(--ion-color-light) !important; */
  --placeholder-opacity: 0.5;
}

.message-input {
  margin: 12px;
  padding: 12px;
  border-radius: 16px;
}

.date-subheader {
  font-size: 14px;
  color: var(--ion-color-disabled-dark) !important;
  font-weight: 300 !important;
}

/* ion-list.messages {
  background-color: var(--ion-color-light) !important;
} */

ion-list.messages {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}

ion-item.archive-message {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
}

ion-item.chat-message {
  border-radius: 25px !important;
  max-width: 80%;
  padding: 10px;
}

.left-message {
  margin-right: auto;
  text-align: left;
  border-radius: 12px !important;
}

.right-message {
  margin-left: auto;
  text-align: right;
  border-radius: 12px !important;
}

ion-input.message-input {
  border-radius: 99px !important;
  padding: 16px;
  width: 100%;
}

/* handles long word overflow */
ion-text.message-item {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}
