@font-face {
  font-family: "Manrope", system-ui;
  font-optical-sizing: auto;
  font-weight: normal;
  src: url("../../public/fonts/Manrope-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Manrope", system-ui;
  src: url("../../public/fonts/Manrope-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: "Manrope", system-ui;
}

:root {
  --ion-background-color: #fbf8f1 !important;
  --ion-background-color-rgb: 252, 252, 252 !important;

  --ion-color-primary: #cda36a !important;
  --ion-color-primary-rgb: 29, 29, 27 !important;
  /* text */
  --ion-color-primary-contrast: #352015 !important;
  --ion-color-primary-contrast-rgb: 255, 255, 255 !important;

  --ion-color-primary-shade: #1a1a18 !important;
  --ion-color-primary-tint: #b08a55e4 !important;

  --ion-color-secondary: #42b2c5 !important;
  --ion-color-secondary-rgb: 203, 192, 177 !important;
  /* --ion-color-secondary-contrast: #000000 !important;
  --ion-color-secondary-contrast-rgb: 0, 0, 0 !important;
  --ion-color-secondary-shade: #b3a99c !important;
  --ion-color-secondary-tint: #d0c6b9 !important; */
  --ion-color-tertiary: #7c6ed5 !important;
  --ion-color-tertiary-rgb: 170, 191, 213 !important;
  --ion-color-tertiary-contrast: #000000 !important;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0 !important;
  --ion-color-tertiary-shade: #96a8bb !important;
  --ion-color-tertiary-tint: #b3c5d9 !important;
  --ion-color-light: #ffff !important;
  --ion-color-light-rgb: 255, 255, 255 !important;
  --ion-color-light-contrast: #000000 !important;
  --ion-color-light-contrast-rgb: 0, 0, 0 !important;
  --ion-color-light-shade: #e0e0e0 !important;
  --ion-color-light-tint: #ffff !important;
  --ion-text-color: #352015 !important;
  /* --ion-tab-bar-background: #f6eedd !important; */
  --ion-tab-bar-background-focused: black !important;
  /* --ion-tab-bar-color-selected: #cda36a !important; */
  /* --ion-color-medium: #dbdbdb !important; */
  --ion-color-medium: #b2b2b2 !important;
  --ion-color-danger: #ce1d1d !important;

  --ion-font-family: "Manrope", system-ui !important;

  --ion-segment-button-font-weight: 600 !important;
}

ion-tab-bar {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 5px 0;
}

ion-segment-button {
  color: var(--ion-text-color) !important;
  font-weight: 500 !important;
}

ion-button {
  /* --background: var(--ion-color-primary); */
  /* --color: var(--ion-color-primary);
  --color-hover: var(--ion-text-color);
  --color-activated: var(--ion-text-color);
  --color-focused: var(--ion-color-primary-tint);
  --background-hover: var(--ion-color-primary-tint);
  --background-activated: var(--ion-color-primary);
  --background-focused: var(--ion-color-primary);
  --background-activated-opacity: 0.5;
  --background-focused-opacity: 0.5;
 */
  --padding-start: 12px;
  --padding-end: 12px;
  --padding-top: 12px;
  --padding-bottom: 12px;
  --border-radius: 12px;
}

ion-avatar {
  width: 28px;
  height: 28px;
}

ion-title {
  font-size: 28px !important;
  font-weight: 800 !important;
}

ion-badge {
  padding: 6px 12px;
  border-radius: 8px;
}

ion-item {
  border-radius: 12px !important;
}

ion-toolbar {
  /* background: var(--ion-background-color); */
  /* color: var(--ion-text-color); */
  border-color: var(--ion-color-primary);
  box-shadow: none;
  padding-top: 6px;
  padding-bottom: 6px;
}
